
/*GENERAL STYLE*/

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: crimson;
}
}

h1 {
    font-size: 2.5rem;
    line-height: 5.5rem;
}

h2 {
     font-size: 2.5rem
}

a {
    color: #2196f3;
}
#p{
    font-family: "Open Sans", sans-serif !important;
    color: rgb(57, 57, 58);
    margin-top: 0px;
    line-height: 22px;
    font-size: 15px;
}

a:hover,
a:focus,
a:active {
    color: #0f72c1;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
  .list-social-icons a {
      color: #495057;
  }

  .list-social-icons a:hover {
      color: #2196f3;
  }

  .list-social-icons a .fa-lg {
      font-size: 1.75rem;
  }

  .list-icons {
      font-size: 3rem;
  }

  .list-icons .list-inline-item i:hover {
      color: #2196f3;
  }

/*==================================================
                    NAV-BAR
====================================================*/
  #sideNav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: black;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff5a00;
}

  @media (min-width: 992px) {
      #sideNav {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
      }
      #sideNav .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
      }
      #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2);
      }
      #sideNav .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
      }
  }


/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #2196f3;
    cursor: pointer;
}

.btn-green {
    border-color: #2196f3;
    color: #2196f3;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
  .heading-border {
      width: 60px;
      height: 10px;
      background-color: #2196f3;
      margin: 0 auto 20px auto;
  }

  section.resume-section {
    
      padding-bottom: 5rem !important;
  }

  section.resume-section .resume-item .resume-date {
      min-width: none;
  }

  @media (min-width: 768px) {
      section.resume-section {
          min-height: 100vh;
      }
      section.resume-section .resume-item .resume-date {
          min-width: 18rem;
      }
  }

  @media (min-width: 992px) {
      section.resume-section {
		  background:ghostwhite;
        
      }
  }

  .bg-primary {
      background-color: #2196f3 !important;
  }

  .text-primary {
      color: #2196f3 !important;
  }

/*==================================================
                      ABOUT
====================================================*/
  #about {
      background-image: url(../img/profile-banner.jpg); 
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }

  #about h1 {
    /*font-size: 100%;*/
  }
  .text-muted {
    color: forestgreen!important;
}
.btn-warning:hover {
    color: #111;
    border-color: #d39e00;
}
.show-read-more .more-text{
        display: none;
    }


/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio{
    padding:100px 0;
} 

.port-head-cont{
    margin:20px auto 40px auto;
    text-align: center;
}

.port-head-cont button{
    margin:5px 2px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(54, 160, 245, 0.73);
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h3,
#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolio-modal .title-bar h1{
    visibility: initial;
    animation-name: initial;
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
} 

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}
 
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #2C3E50;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px){
    .portfolio-modal .close-modal{
        display: none;
    }
}  

/*====================================================
                      SKILLS
======================================================*/

#skills {
   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.skill-cover {
    background-color:whitesmoke;
}

.skill-cover h3{
  font-family: "hind", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
  color:crimson;
}
.skill_type{
	color: darkviolet;
	text-align: left;
    margin-left: 14px;
}
.skill_name{
 padding: 10px;
 background-color: azure;
margin-bottom: 40px;
box-shadow:2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
height: 230px;

}
.skill_name ul{
    margin-bottom: 20px;
	text-align: initial;
}

}

.skill_name ul li{
 list-style: none;
 


}
.skill_name ul li i{
   margin-right: 6px;
   color: blue;
   
 }

.skill_name ul{
    margin-bottom: 20px;

}

.skill_name ul li{
 list-style: none;


}
.skill_name ul li i{
   margin-right: 6px;
   color: blue;
   
   }




/*====================================================
                   CONTACT
======================================================*/

#contact{
  padding: 50px 0;
}

#contact .contact-cont h3{
  color:#555;
  font-size: 45px;
}

#contact .contact-cont p{
  padding-right: 20px;
  font-size: 15px;
}

#contact .contact-cont2 address,
#contact .contact-cont2 address a{
  color:#666;
}
 
.con-form input {
    border-color: #ccc;
    border-radius: 0;
    
    margin-top: 30px; 
}

.con-form textarea {
    width: 100%; 
    height: 200px;
    margin:30px 0;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
}

.contact-side-desc{
    padding-top: 40px;
} 

.contact-box-desc h3{
  color:#555;
}

.contact-box-desc h3 i{
   color: chartreuse;
}

.social-icon-f li{
  display: inline-block;
}

.social-icon-f li i{
  height: 35px;
  width:35px;
  line-height: 35px;
  border:2px solid #2196f3;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}  
.round-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left:45px;
    margin-bottom:10px;
    
    
}

.profile_img {
    max-width: 100%;
    height: auto;

}
.name_div{
margin-left:40px;
}
.name {
    color:blue;
    
}
@media(max-width: 767px){
    #contact-p2 .con-form input{
        margin-bottom: 30px;
    }
    .con-form textarea {
        width: 100%; 
        height: 200px;
        margin:10px 0 30px 0;
        border-color: #ccc;
        border-radius: 0;
        color: #717171;
    }

    .contact-box-desc{
        text-align: center;
    }

    #contact .social-icon-f{
        text-align: center;
    }
	    .center-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.round-image {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-left:18px;
    margin-bottom:5px

}

.profile_img {
    max-width: 100%;
    height: auto;
}
.name_div{
margin-left:20px;
}
.name {
    color:blue;
    
}
}

@media (max-width: 575px){
    #contact .social-icon-f{
            text-align: center;
    }   
	    .center-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.round-image {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-left:18px;
    margin-bottom:5px

}

.profile_img {
    max-width: 100%;
    height: auto;
}
.name_div{
margin-left:20px;
}
.name {
    color:blue;
    
}
}

@media (max-width: 420px){
    #contact .social-icon-f{
            text-align: center;
    }    
	    .center-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.round-image {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-left:18px;
    margin-bottom:5px

}

.profile_img {
    max-width: 100%;
    height: auto;
}
.name_div{
margin-left:20px;
}
.name {
    color:blue;
    
}
}
 
.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 349px;
    margin-top: 56px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.footer {
    background: #04091e;
    padding: 15px;
	text-align:center;
}
.footer p a {
    color: blue!important;
    text-decoration: none;
}
